* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

body {
    background-image: url(/images/hero.png);
    height: 100vh;
    /* max-height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
}

header h1{
    font-family: var(--secondary-font);
    font-size: 25px;
    color: white;
}

header h2{
    font-family: var(--primary-font);
    font-size: 60px;
    color: #B76B41;
}

header p{
    width: 80%;
    margin: auto;
    font-family: var(--secondary-font);
    font-size: 15px;
    color: white;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.buttons .action a{
    text-decoration: none;
    padding: 13px 20px;
    border: 1px solid #B76B41;
    background: rgb(3, 3, 3);
    text-decoration: none;
    color: #B76B41;
    font-family: var(--secondary-font);
    transition: background .5s ease;
    transition: border .5s ease;
    transition: color .5s ease;
    
}







.countdown{
    margin-top: 30px;
}

.countdown p{
    font-family: var(--secondary-font);
    font-size: 50px;
    color: white;
}


@media only screen and (min-width: 800px) {
    header h2{
        font-size: 100px;
    }


    .buttons .action a:hover {
            background-color: #B76B41;
            border: none;
            color: black;
        }
}



